body {margin: 0;}
.hero{position: relative;
	background-image: url("banner_image.jpg");
	background-size: cover;
	background-position: 100% 100%;
	width:100vw;
	height: 100vh;
	}
		h1 {position:absolute;
			margin: 0 auto;
			color: white;
			font-family: 'Source Sans Pro', sans-serif;
			text-align: center;
			font-weight: bold;
			top: 30px;
			font-size: 5em;
			text-shadow: 3px white;
			}

		.header{display: flex;
			justify-content: center;
				}
						

		
	
	
