html{margin: -10px;}
.hero{position: relative;}
.banner{width:100%;
	height: 100vh;
	}
		h1 {color: white;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: bold;
			position: absolute;
			font-size: 5em;
			left:20px;
			top: 1px;
			font-color
			text-shadow: 3px white;
			}

		span {background: rgba(0, 0, 0, 0.1);

		}	
	
